<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CharityProject</title>
    <link rel="icon" type="image/x-icon" href="~/256_clean_icon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CharityProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-background">
    <!-- Header -->
    <header class="flex w-full bg-white border-b-2 border-secondaryColor">
        <nav class="font-sans flex justify-between py-2 px-6 sm:px-12 bg-white shadow w-full">
            <!-- Drawer Toggle Button -->
            <div class="text-center">
                <button class="border px-4 py-2 text-center border-primaryColor text-3xl flex rounded-md hover:bg-gray-300 transition duration-300 ease-in-out" data-drawer-target="drawer-right-example" data-drawer-show="drawer-right-example" data-drawer-placement="right" aria-controls="drawer-right-example">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>

            <!-- Drawer Component -->
            <div id="drawer-right-example" class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-60" tabindex="-1" aria-labelledby="drawer-right-label">
                <div class="mb-2 sm:mb-0 flex flex-row justify-between w-full">
                    <div class="h-20 w-40">
                        <img class="self-center" src="~/images/logo.png" />
                    </div>
                </div>
                <button type="button" data-drawer-hide="drawer-right-example" aria-controls="drawer-right-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close menu</span>
                </button>
                <!-- Nav pages-->
                <div class="py-4 overflow-y-auto">
                    <ul class="space-y-2 font-medium">
                        @if (Context.Session.GetString("Permission_position") == "مدير خدمة المستفيدين")
                        {
                        <li>
                            <a asp-controller="CustomerServiceManager" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                                    <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                                    <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                                </svg>
                                <span class="ms-3">الصفحة الرئيسية</span>
                            </a>
                        </li>
                        }
                        @if (Context.Session.GetString("Permission_position") == "مدير التنمية المالية والاستدامة")
                        {
                            <li>
                                <a asp-controller="FinancialSustainabilityDevelopmentManager" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                                        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                                        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                                    </svg>
                                    <span class="ms-3">الصفحة الرئيسية</span>
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetString("Permission_position") == "المدير التنفيذي")
                        {
                            <li>
                                <a asp-controller="CEO" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                                        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                                        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                                    </svg>
                                    <span class="ms-3">الصفحة الرئيسية</span>
                                </a>
                            </li>
                        }
                         @if (Context.Session.GetString("Permission_position") == "مدير خدمة المستفيدين")
                        {
                            <li>
                                <a asp-controller="CustomerServiceManager" asp-action="Transactions" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M6.912 3a3 3 0 0 0-2.868 2.118l-2.411 7.838a3 3 0 0 0-.133.882V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0 0 17.088 3H6.912Zm13.823 9.75-2.213-7.191A1.5 1.5 0 0 0 17.088 4.5H6.912a1.5 1.5 0 0 0-1.434 1.059L3.265 12.75H6.11a3 3 0 0 1 2.684 1.658l.256.513a1.5 1.5 0 0 0 1.342.829h3.218a1.5 1.5 0 0 0 1.342-.83l.256-.512a3 3 0 0 1 2.684-1.658h2.844Z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">المعاملات</span>
                                </a>
                            </li>
                        }
                         @if (Context.Session.GetString("Permission_position") == "مدير التنمية المالية والاستدامة")
                        {
                            <li>
                                <a asp-controller="FinancialSustainabilityDevelopmentManager" asp-action="Transactions" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M6.912 3a3 3 0 0 0-2.868 2.118l-2.411 7.838a3 3 0 0 0-.133.882V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0 0 17.088 3H6.912Zm13.823 9.75-2.213-7.191A1.5 1.5 0 0 0 17.088 4.5H6.912a1.5 1.5 0 0 0-1.434 1.059L3.265 12.75H6.11a3 3 0 0 1 2.684 1.658l.256.513a1.5 1.5 0 0 0 1.342.829h3.218a1.5 1.5 0 0 0 1.342-.83l.256-.512a3 3 0 0 1 2.684-1.658h2.844Z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">المعاملات</span>
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetString("Permission_position") == "المدير التنفيذي")
                        {
                            <li>
                                <a asp-controller="CEO" asp-action="Transactions" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M6.912 3a3 3 0 0 0-2.868 2.118l-2.411 7.838a3 3 0 0 0-.133.882V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0 0 17.088 3H6.912Zm13.823 9.75-2.213-7.191A1.5 1.5 0 0 0 17.088 4.5H6.912a1.5 1.5 0 0 0-1.434 1.059L3.265 12.75H6.11a3 3 0 0 1 2.684 1.658l.256.513a1.5 1.5 0 0 0 1.342.829h3.218a1.5 1.5 0 0 0 1.342-.83l.256-.512a3 3 0 0 1 2.684-1.658h2.844Z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">المعاملات</span>
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetString("Permission_position") == "مدير خدمة المستفيدين")
                        {
                            <li>
                                <a asp-controller="CustomerServiceManager" asp-action="Archive" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5" />
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">الارشيف</span>
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetString("Permission_position") == "مدير التنمية المالية والاستدامة")
                        {
                            <li>
                                <a asp-controller="FinancialSustainabilityDevelopmentManager" asp-action="Archive" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5" />
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">الارشيف</span>
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetString("Permission_position") == "المدير التنفيذي")
                        {
                            <li>
                                <a asp-controller="CEO" asp-action="Archive" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5" />
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">الارشيف</span>
                                </a>
                            </li>
                        }

                        @if (Context.Session.GetString("Position") == "مدير خدمة المستفيدين")
                        {
                            <li>
                                <a asp-controller="CustomerServiceManager" asp-action="ManageEmpPer" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="50.000000pt" height="50.000000pt" viewBox="0 0 50.000000 50.000000" preserveAspectRatio="xMidYMid meet">
                                        <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                                            <path d="M209 425 c-15 -8 -29 -21 -32 -28 -3 -9 -15 -13 -29 -10 -14 3 -34 -4 -51 -17 -22 -17 -27 -29 -27 -65 0 -24 8 -58 18 -75 16 -31 16 -32 -2 -43 -65 -41 -81 -55 -84 -75 -3 -19 1 -22 32 -22 25 0 36 -4 36 -15 0 -13 27 -15 180 -15 153 0 180 2 180 15 0 10 11 15 35 15 22 0 35 5 35 13 0 24 -30 56 -65 67 -38 13 -45 33 -20 66 8 10 15 38 15 62 0 34 -6 48 -27 68 -15 14 -36 24 -48 22 -19 -2 -29 3 -70 40 -18 16 -43 15 -76 -3z m61 -15 c0 -5 7 -10 15 -10 36 0 43 -83 13 -150 -9 -19 -18 -43 -22 -52 -7 -23 -45 -23 -52 0 -4 9 -13 33 -22 52 -20 44 -25 105 -11 131 15 29 79 52 79 29z m-116 -49 c4 -5 7 -22 7 -38 1 -15 11 -50 22 -77 l21 -48 -24 -20 c-22 -18 -25 -18 -28 -4 -2 9 -9 16 -16 16 -15 0 -37 54 -43 107 -3 34 0 44 19 57 26 18 35 20 42 7z m232 -7 c19 -13 24 -24 23 -53 -1 -20 -8 -46 -16 -58 -7 -12 -13 -29 -13 -38 0 -8 -6 -15 -14 -15 -8 0 -16 -7 -18 -16 -3 -14 -6 -14 -28 4 l-25 20 23 46 c12 26 22 64 22 86 0 44 8 48 46 24z m-261 -204 c-5 -8 -11 -8 -17 -2 -6 6 -7 16 -3 22 5 8 11 8 17 2 6 -6 7 -16 3 -22z m110 10 c4 -6 3 -24 0 -42 -8 -36 -25 -20 -25 25 0 27 13 36 25 17z m54 -12 c0 -13 -4 -32 -8 -43 -7 -18 -9 -16 -15 12 -8 33 -2 53 15 53 5 0 9 -10 8 -22z m109 11 c-2 -6 -8 -10 -13 -10 -5 0 -11 4 -13 10 -2 6 4 11 13 11 9 0 15 -5 13 -11z" />
                                        </g>
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">موظفين القسم</span>
                                </a>
                            </li>
                        }

                        @if (Context.Session.GetString("Position") == "مدير التنمية المالية والاستدامة")
                        {
                            <li>
                                <a asp-controller="FinancialSustainabilityDevelopmentManager" asp-action="ManageEmpPer" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="50.000000pt" height="50.000000pt" viewBox="0 0 50.000000 50.000000" preserveAspectRatio="xMidYMid meet">
                                        <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                                            <path d="M209 425 c-15 -8 -29 -21 -32 -28 -3 -9 -15 -13 -29 -10 -14 3 -34 -4 -51 -17 -22 -17 -27 -29 -27 -65 0 -24 8 -58 18 -75 16 -31 16 -32 -2 -43 -65 -41 -81 -55 -84 -75 -3 -19 1 -22 32 -22 25 0 36 -4 36 -15 0 -13 27 -15 180 -15 153 0 180 2 180 15 0 10 11 15 35 15 22 0 35 5 35 13 0 24 -30 56 -65 67 -38 13 -45 33 -20 66 8 10 15 38 15 62 0 34 -6 48 -27 68 -15 14 -36 24 -48 22 -19 -2 -29 3 -70 40 -18 16 -43 15 -76 -3z m61 -15 c0 -5 7 -10 15 -10 36 0 43 -83 13 -150 -9 -19 -18 -43 -22 -52 -7 -23 -45 -23 -52 0 -4 9 -13 33 -22 52 -20 44 -25 105 -11 131 15 29 79 52 79 29z m-116 -49 c4 -5 7 -22 7 -38 1 -15 11 -50 22 -77 l21 -48 -24 -20 c-22 -18 -25 -18 -28 -4 -2 9 -9 16 -16 16 -15 0 -37 54 -43 107 -3 34 0 44 19 57 26 18 35 20 42 7z m232 -7 c19 -13 24 -24 23 -53 -1 -20 -8 -46 -16 -58 -7 -12 -13 -29 -13 -38 0 -8 -6 -15 -14 -15 -8 0 -16 -7 -18 -16 -3 -14 -6 -14 -28 4 l-25 20 23 46 c12 26 22 64 22 86 0 44 8 48 46 24z m-261 -204 c-5 -8 -11 -8 -17 -2 -6 6 -7 16 -3 22 5 8 11 8 17 2 6 -6 7 -16 3 -22z m110 10 c4 -6 3 -24 0 -42 -8 -36 -25 -20 -25 25 0 27 13 36 25 17z m54 -12 c0 -13 -4 -32 -8 -43 -7 -18 -9 -16 -15 12 -8 33 -2 53 15 53 5 0 9 -10 8 -22z m109 11 c-2 -6 -8 -10 -13 -10 -5 0 -11 4 -13 10 -2 6 4 11 13 11 9 0 15 -5 13 -11z" />
                                        </g>
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">موظفين القسم</span>
                                </a>
                            </li>
                        }
                        @if (Context.Session.GetString("Position") == "المدير التنفيذي")

                        {
                            <li>
                                <a asp-controller="CEO" asp-action="ManageEmpPer" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="50.000000pt" height="50.000000pt" viewBox="0 0 50.000000 50.000000" preserveAspectRatio="xMidYMid meet">
                                        <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                                            <path d="M209 425 c-15 -8 -29 -21 -32 -28 -3 -9 -15 -13 -29 -10 -14 3 -34 -4 -51 -17 -22 -17 -27 -29 -27 -65 0 -24 8 -58 18 -75 16 -31 16 -32 -2 -43 -65 -41 -81 -55 -84 -75 -3 -19 1 -22 32 -22 25 0 36 -4 36 -15 0 -13 27 -15 180 -15 153 0 180 2 180 15 0 10 11 15 35 15 22 0 35 5 35 13 0 24 -30 56 -65 67 -38 13 -45 33 -20 66 8 10 15 38 15 62 0 34 -6 48 -27 68 -15 14 -36 24 -48 22 -19 -2 -29 3 -70 40 -18 16 -43 15 -76 -3z m61 -15 c0 -5 7 -10 15 -10 36 0 43 -83 13 -150 -9 -19 -18 -43 -22 -52 -7 -23 -45 -23 -52 0 -4 9 -13 33 -22 52 -20 44 -25 105 -11 131 15 29 79 52 79 29z m-116 -49 c4 -5 7 -22 7 -38 1 -15 11 -50 22 -77 l21 -48 -24 -20 c-22 -18 -25 -18 -28 -4 -2 9 -9 16 -16 16 -15 0 -37 54 -43 107 -3 34 0 44 19 57 26 18 35 20 42 7z m232 -7 c19 -13 24 -24 23 -53 -1 -20 -8 -46 -16 -58 -7 -12 -13 -29 -13 -38 0 -8 -6 -15 -14 -15 -8 0 -16 -7 -18 -16 -3 -14 -6 -14 -28 4 l-25 20 23 46 c12 26 22 64 22 86 0 44 8 48 46 24z m-261 -204 c-5 -8 -11 -8 -17 -2 -6 6 -7 16 -3 22 5 8 11 8 17 2 6 -6 7 -16 3 -22z m110 10 c4 -6 3 -24 0 -42 -8 -36 -25 -20 -25 25 0 27 13 36 25 17z m54 -12 c0 -13 -4 -32 -8 -43 -7 -18 -9 -16 -15 12 -8 33 -2 53 15 53 5 0 9 -10 8 -22z m109 11 c-2 -6 -8 -10 -13 -10 -5 0 -11 4 -13 10 -2 6 4 11 13 11 9 0 15 -5 13 -11z" />
                                        </g>
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">موظفين القسم</span>
                                </a>
                            </li>
                        }

                            <li>
                            @if (Context.Session.GetString("Position") == "المدير التنفيذي")
                            {
                            <li>
                                <a asp-controller="Departments" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 48 48">
                                        <g transform="translate(0,48) scale(0.1,-0.1)" fill="#000000" stroke="none">
                                            <path d="M148 412 c-71 -33 -100 -62 -63 -62 12 0 15 -15 15 -74 0 -53 -4 -77 -15 -86 -10 -9 -15 -32 -15 -76 l0 -64 70 0 70 0 0 45 c0 43 1 45 30 45 29 0 30 -2 30 -45 l0 -45 70 0 70 0 0 64 c0 44 -5 67 -15 76 -22 18 -22 160 0 160 8 0 15 6 15 14 0 11 -164 89 -180 85 -3 0 -40 -17 -82 -37z m42 -72 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m70 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m70 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m-140 -70 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m70 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m70 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m-140 -70 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m70 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m70 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m-170 -80 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z m200 0 c0 -13 -7 -20 -20 -20 -13 0 -20 7 -20 20 0 13 7 20 20 20 13 0 20 -7 20 -20z" />
                                        </g>
                                    </svg>
                                    <span class="ms-3 whitespace-nowrap">الأقسام</span>
                                </a>
                            </li>
                            }

                        <li>
                            <a asp-controller="OtherServices" asp-action="Index" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-black hover:bg-gray-100 dark:hover:bg-gray-700 group">
                                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M19.5 21a3 3 0 0 0 3-3v-4.5a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3V18a3 3 0 0 0 3 3h15ZM1.5 10.146V6a3 3 0 0 1 3-3h5.379a2.25 2.25 0 0 1 1.59.659l2.122 2.121c.14.141.331.22.53.22H19.5a3 3 0 0 1 3 3v1.146A4.483 4.483 0 0 0 19.5 9h-15a4.483 4.483 0 0 0-3 1.146Z" />
                                </svg>
                                <span class="ms-3 whitespace-nowrap">خدمات أخرى</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Page Title -->

            <!-- Charity middle Icon -->
            <div class="mr-10">
                <div class="h-16 w-32 mr-10  ">
                    <img class="object-contain" src="~/images/logo.png" />
                </div>
            </div>

            <!-- User and Notifications -->
            <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
            <div x-data="{ isOpen: false, isModalOpen: false }" class="relative inline-block text-right z-50">
                <div>
                    <button x-on:click="isOpen = !isOpen" type="button" class="border py-2 px-4 text-center border-primaryColor text-3xl flex items-center rounded-full hover:bg-gray-300 transition-all duration-300 ease-in-out">
                        <svg class="w-7 h-7 mx-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
                        </svg>
                        <span class="font-semibold">@Context.Session.GetString("Name")</span>
                        <svg class="w-5 h-5 ml-2 -mr-1 transition-transform duration-300" :class="isOpen ? 'rotate-180' : 'rotate-0'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
                <div x-show="isOpen" x-transition.origin.top.right class="absolute right-0 mt-2 w-56 rounded-lg shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" x-cloak>
                    <ul class="py-1">
                        <li class="relative group">
                            <a href="#" x-on:click.prevent="isModalOpen = true; isOpen = false" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 transition-all duration-300 ease-in-out">
                                <svg class="w-5 h-5 mr-3 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                    <g fill="none" fill-rule="evenodd">
                                        <path d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035q-.016-.005-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427q-.004-.016-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093q.019.005.029-.008l.004-.014-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014-.034.614q.001.018.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z" />
                                        <path d="M20 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm0 2H4v14h16zm-3 10a1 1 0 0 1 .117 1.993L17 17H7a1 1 0 0 1-.117-1.993L7 15zm-7-8a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2zm7 4a1 1 0 1 1 0 2h-3a1 1 0 1 1 0-2zm-7-2H8v2h2zm7-2a1 1 0 0 1 .117 1.993L17 9h-3a1 1 0 0 1-.117-1.993L14 7z" fill="currentColor" />
                                    </g>
                                </svg>
                                الملف الشخصي
                            </a>
                        </li>
                        <li class="relative group">
                            <a href="@Url.Action("Logout", "Home")" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 transition-all duration-300 ease-in-out">
                                <svg class="w-5 h-5 mr-3 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12h-9.5m7.5 3 3-3-3-3m-5-2V6a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h5a2 2 0 0 0 2-2v-1" />
                                </svg>
                                تسجيل الخروج
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Modal -->
                <div x-show="isModalOpen" x-cloak class="fixed inset-0 z-50 overflow-y-auto">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        <div x-show="isModalOpen" x-on:click="isModalOpen = false" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                        <div x-show="isModalOpen" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                @await Html.PartialAsync("_employeeProfile")
                            </div>
                            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                <button type="button" x-on:click="isModalOpen = false" class="mt-3 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-6 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                    إغلاق
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main role="main" class="pb- 3 px-5">
        @RenderBody()
    </main>


    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>