<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <title>الاسكان التنموي - نسيت كلمة السر</title>
</head>

<body>
    <div class="flex items-center justify-center">
        <div class="w-[80vw] md:w-[400px] bg-white shadow-2xl border border-primaryColor rounded-md mt-24">
            <div class="p-6 pt-2">


                <h1 class="text-2xl justify-center font-bold mt-4 text-veryDarkBlue">نسيت كلمة السر</h1>
                @if (ViewData["Message"] != null)
                {
                    <div class="text-red-500 text-center">
                        @ViewData["Message"]
                    </div>
                }
                <form asp-action="SendVerificationCode">
                    <div class="mt-4 mb-2 flex flex-col">
                        <label for="userid" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">الرقم الوظيفي</label>
                        <div class="relative mb-6">
                            <div class="flex flex-row justify-center gap-3">
                                <img width="40px" src="/images/icon1.png" alt="cart icon" />
                                <input type="text" id="userid" name="userid" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                           focus:ring-blue-500 focus:border-blue-500 block w-full
                                           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       placeholder="مثل: 10001" required>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 mb-2 flex flex-col">
                        <label for="email" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">البريد الإلكتروني</label>
                        <div class="relative mb-6">
                            <div class="flex flex-row justify-center gap-3">
                                <img width="40px" src="/images/icon2.png" alt="email icon" />
                                <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                           focus:ring-blue-500 focus:border-blue-500 block w-full
                                           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       placeholder="مثل: example@mail.com" required>
                            </div>
                        </div>
                    </div>

                    <button class="mt-6 bg-green-400 hover:bg-emerald-800 text-white font-bold py-2 px-4 w-full rounded-md transition duration-200" type="submit">
                        إرسال رمز التحقق
                    </button>
                </form>

                <div class="mt-2 pt-2 flex justify-between items-center gap-4">
                    <a href="/"
                       class="text-primaryColor underline underline-offset-4 hover:text-primaryButtons transition duration-200">
                        العودة إلى تسجيل الدخول
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

<style>
    body {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.804), rgba(90, 90, 90, 0.84)), url('../images/alharm22.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
</style>
</html>
