
<html>
    <head>
        <style>
        .container {
            display: flex;
            justify-content: center;
            gap: 100px;
            margin-top: 15px;
            
        }

        body {
            background-color: #DFDFDF;
            margin: 0;
            padding: 0;
            font-family: 'Cairo', sans-serif;
        }

        .container > div {
            background-color: lightseagreen;
            color: white;
            width: 150px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            text-align: center;
        }

        p {
            margin: 0;
        }
          


        .cc{
          
            background-color:lightseagreen;
            justify-content: center;
            border-radius: 15px;
           
            align-items: center;
            font-family: 'Cairo', sans-serif;
            padding-top:50px;
            width: 900px;
            height: 500px;
            padding:20px;
            text-align: right;
        }
        .mm{
            font-family: 'Cairo', sans-serif;
            text-align: right;
           
        }
        </style>

    </head>

    <body>

    <div class="container">
        <div class="col-md-6">
            المتبقي من الاضطرارية
            <p>5</p>
        </div>
        <div class="col-md-6">
            المتبقي من السنوية
            <p>5</p>
        </div>
        <div class="col-md-6">
            المتبقي من المرضية
            <p>5</p>
        </div>
    </div>


    <br />
    <br />
    <br />
  @*   class="w-full  border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-200" *@
  <div dir="rtl">
    <div class="cc"> 

            <div class="mm">
    <form action="#" method="post">
              
             
        <label for="name" class="block text-gray-200">  موضوع الخطاب </label>
               
                <input type="text" id="name" name="name" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" required>

                    <div style="padding-right:15px;">

                    <label style="padding-top:15px;">
                    نوع الخطاب

                        <select style="padding-top:5px;">
                        <option>
                        خطاب عام 

                    </option>
                    <option>
                        لفت نظر 

                    </option>
                    <option>
                        ترقية

                    </option>
                    <option>
                       انهاء عقد

                    </option>

                </select> 
                
            </label>
                        <label style="padding-top:20px;  padding-right:150px ;">
                            الاهمية

                            <select style="padding-top:5px;">

                                <option>
                                    عاجل جدا

                                </option>
                                <option>
                                    مهم
                                </option>
                                <option>
                                    عاجل

                                </option>


                            </select>
                        </label>
                    </div>
                

                    <div style="padding-right:15px;">



                        <label style="padding-top:20px;">
                    إلى

                        <select style="padding-top:5px;">

                        <option>
                            مخصص

                        </option>
                        <option>
                            عام

                        </option>
                        

                    </select>
                </label>


                        <label style="padding-top:20px;  padding-right:150px ;">
                    قسم

                        <select style="padding-top:5px;">

                        <option>
                            الموارد البشرية

                        </option>
                        <option>
                            خدمة المستفيدين

                        </option>
                   

                    </select>
                </label>



                        <label style="padding-top:20px;  padding-right:px ;">
                    الموظف

                        <select style="padding-top:5px;">

                        <option>
                            محمد 

                        </option>
                        <option>
                            عبداللة

                        </option>
                        <option>
                            زياد

                        </option>
                     

                    </select>
                </label>
                <br />
                <br />
                    </div>
               
         
            
                <label for="message" class="block text-gray-700">التوجيهات</label>
                <textarea id="message" name="message" rows="3" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" required></textarea>
                <br />
                    <label for="message" class="block text-gray-700">
                        المرفقات + </label>
                <textarea id="message" name="message" rows="2" class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-500" required></textarea>
                <br />
                    
                  
                    <button type="submit" class="w-full bg-teal-700 text-white py-2 px-2 rounded-lg hover:bg-rose-500 focus:outline-none focus:ring-3 focus:ring-indigo-500">رفع الخطاب</button>
        </form> 






       </div>
    </div>
    </div>

    </body>

</html>



