@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/256_clean_icon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CharityProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <title>رمز التحقق</title>
</head>

<body>
    <div class="flex items-center justify-center">
        <div class="w-[80vw] md:w-[400px] bg-white shadow-2xl border border-primaryColor rounded-md mt-24 p-6">
            <img src="/images/logo.png" alt="logo image" class="mx-auto w-52 mb-6" />
            <h1 class="text-xl font-bold text-center text-veryDarkBlue">أدخل رمز التحقق</h1>

            @if (ViewData["Message"] != null)
            {
                var message = ViewData["Message"].ToString();
                var messageColor = message.Contains("تم إرسال رمز التحقق") ? "text-green-500" : "text-red-500";

                <div class="@messageColor text-center mb-4">
                    @message
                </div>
            }
            <form asp-action="VerifyCode" class="mt-4">
                <div class="mb-4">
                    <label for="verificationCode" class="block mb-1 text-sm font-medium text-gray-700">رمز التحقق</label>
                    <input type="text" id="verificationCode" name="verificationCode"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                               focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
                           required>
                </div>
                <button class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 rounded-md transition duration-200" type="submit">
                    تحقق
                </button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>
<style>
    body {
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.804), rgba(90, 90, 90, 0.84)), url(../images/alharm22.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
</style>