@model CharityProject.Models.salaries_history

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>salaries_history</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="emp_id" class="control-label"></label>
                <input asp-for="emp_id" class ="form-control" ></input>
            </div>
            <div class="form-group">
                <label asp-for="base_salary" class="control-label"></label>
                <input asp-for="base_salary" class="form-control" />
                <span asp-validation-for="base_salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="housing_allowances" class="control-label"></label>
                <input asp-for="housing_allowances" class="form-control" />
                <span asp-validation-for="housing_allowances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="transportaion_allowances" class="control-label"></label>
                <input asp-for="transportaion_allowances" class="form-control" />
                <span asp-validation-for="transportaion_allowances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="other_allowances" class="control-label"></label>
                <input asp-for="other_allowances" class="form-control" />
                <span asp-validation-for="other_allowances" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="overtime" class="control-label"></label>
                <input asp-for="overtime" class="form-control" />
                <span asp-validation-for="overtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bonus" class="control-label"></label>
                <input asp-for="bonus" class="form-control" />
                <span asp-validation-for="bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="delay_discount" class="control-label"></label>
                <input asp-for="delay_discount" class="form-control" />
                <span asp-validation-for="delay_discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="absence_discount" class="control-label"></label>
                <input asp-for="absence_discount" class="form-control" />
                <span asp-validation-for="absence_discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="other_discount" class="control-label"></label>
                <input asp-for="other_discount" class="form-control" />
                <span asp-validation-for="other_discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="debt" class="control-label"></label>
                <input asp-for="debt" class="form-control" />
                <span asp-validation-for="debt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shared_portion" class="control-label"></label>
                <input asp-for="shared_portion" class="form-control" />
                <span asp-validation-for="shared_portion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="facility_portion" class="control-label"></label>
                <input asp-for="facility_portion" class="form-control" />
                <span asp-validation-for="facility_portion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Social_insurance" class="control-label"></label>
                <input asp-for="Social_insurance" class="form-control" />
                <span asp-validation-for="Social_insurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="work_days" class="control-label"></label>
                <input asp-for="work_days" class="form-control" />
                <span asp-validation-for="work_days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="exchange_statement" class="control-label"></label>
                <input asp-for="exchange_statement" class="form-control" />
                <span asp-validation-for="exchange_statement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="notes" class="control-label"></label>
                <input asp-for="notes" class="form-control" />
                <span asp-validation-for="notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

