@model CharityProject.Models.ExternalTransaction

<h4>ExternalTransaction</h4>
<hr />
<div class="row" id="ExternalEditModal" role="dialog">
    <div class="col-md-4 modal-dialog">
        <div class="modal-content">
        <form asp-action="_editExTransaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="external_transactions_id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="identity_number" class="control-label"></label>
                <input asp-for="identity_number" class="form-control" />
                <span asp-validation-for="identity_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="communication" class="control-label"></label>
                <input asp-for="communication" class="form-control" />
                <span asp-validation-for="communication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="case_status" class="control-label"></label>
                <input asp-for="case_status" class="form-control" />
                <span asp-validation-for="case_status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sending_party" class="control-label"></label>
                <input asp-for="sending_party" class="form-control" />
                <span asp-validation-for="sending_party" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="receiving_date" class="control-label"></label>
                <input asp-for="receiving_date" class="form-control" />
                <span asp-validation-for="receiving_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sending_date" class="control-label"></label>
                <input asp-for="sending_date" class="form-control" />
                <span asp-validation-for="sending_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sending_number" class="control-label"></label>
                <input asp-for="sending_number" class="form-control" />
                <span asp-validation-for="sending_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="receiving_number" class="control-label"></label>
                <input asp-for="receiving_number" class="form-control" />
                <span asp-validation-for="receiving_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

