@model CharityProject.Models.Devices

<div class="modal fade" id="DetailsDeviceModal-@Model.devices_id" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">تفاصيل الأصل</h4>
                <button type="button" style="font-size: 2rem;" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-right">
                <dl class="row">
                    <dt class="col-sm-2">
                        الأصل
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.name)
                    </dd>
                    <dt class="col-sm-2">
                        الكمية
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.quantity)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>